#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  background-color: #FF69B4;
}

.home-title {
  color: black;
}

.nav-button {
  margin-right: 1rem;
  /* Adjust margin as needed */
  padding: 0.5rem 1rem;
  /* Adjust padding as needed */
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  color: #FF69B4;
  font-size: 16px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: pink;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em pink);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em pink);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}